
header{color: blue;}
div{background-color: rgb(133, 60, 84);}
.paragrafo1{color: black; background-color: rgb(117, 173, 173) ;}
li { color: rgb(119, 150, 89);}
h1 {color: cornflowerblue;}
.lista0{color: rgb(172, 15, 15);}
.lista1{color: rgb(20, 140, 245);}
.lista2 { color: blueviolet;}
.lista3 { color: rgb(228, 139, 22);}
.lista4 {color: black;}
q {text-align: center; background-color: rgb(90, 85, 85); color: rgb(199, 255, 255);}
h1{text-align: center;}
footer{text-align: center;}
footer{color: cornflowerblue;}
i {color: burlywood;}
blockquote {text-align: center;
background-color: rgb(90, 85,85);color: rgb(199,255,255);}